.frito {
  font-size: 15px;
  color: black;
}
.fotopizza {
 cursor: pointer;
 padding: 15px 15px 0px 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 height: 350px;
 background-size: cover;
 background-position: center;
 color: white;
 text-align: left;
 text-shadow: 0px 0px 15px black;
}

