body {
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  margin-bottom: 0;
}
